<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sinatra routes/views</title>
  </head>
  <body>
    <h1><%= "Using the substition tags,
    just to let you know that Sinatra says Hello"%></h1>
  </body>
</html>
